/* po */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.p-herosection {
    font-family: "Inter";
    background-color: #f6f6fb;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.p-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 99px;
    margin: 24px;
    padding: 12px 80px;
}
.p-menu {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
.p-home,
.p-feature,
.p-pricing,
.p-contact {
    display: flex;
    flex-direction: row;
    padding: 16px 24px;
    gap: 10px;
}
.p-logo {
    width: 91px;
    height: 40px;
}
.p-appname {
    background: rgba(86, 58, 255, 0.1);
    border-radius: 999px;
    padding: 8px 20px;
    color:#563AFF ;
    font-weight: 500;
    font-size: 1rem;
}
.p-menu a:link {
    color: black;
    text-decoration: none;
}
.p-menu a:visited {
    color: black;
    text-decoration: none;
}
  
.p-menu a:hover {
    color: #563AFF;
    text-decoration: underline;
}
.p-menu a:active {
    color: black;
    text-decoration: underline;
}
.p-trial a:link {
    color: whitesmoke;
    text-decoration: none;
}
.p-trial a:visited {
    color: whitesmoke;
    text-decoration: none;
}
  
.p-trial a:hover {
    color: whitesmoke;
    text-decoration: underline;
}
.p-trial a:active {
    color: whitesmoke;
    text-decoration: underline;
}
.p-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.p-headline h1 {
    font-size: 80px;
    font-weight: 800;
    font-style: normal;
    
    
}
.p-subheadline {
    font-size: 16px;
    font-weight: 600;
}
.p-trial {
    background-color: #1A1A2C;
    border-radius: 16px;
    padding: 16px 36px;
    font-size: 1rem;
    font-weight: 600;
    
}
.p-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.p-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 120px;
}
